*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}

:root {
  --color-text: black;
  --color-element-bg: rgb(255, 224, 153);
  --color-body-bg: rgb(255, 255, 255);
  --color-cta-bg: transparent;
  --color-focus: orange;
  --color-border: black;
  --color-box-shadow-hover: black;

  --star-brightness: 1;

  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2.5rem;
  --space-5: 4rem;
  --image-size: 150px;
}

h1 {
  font-size: clamp(2rem, calc(6.5vw + 0.5rem), 5rem);
  color: rgb(0, 0, 0);
}

h2,
span.logo {
  font-size: clamp(1.5rem, calc(1.5vw + 0.5rem), 2.5rem);
}

h3 {
  font-size: clamp(1.25rem, calc(1vw + 0.5rem), 1.75rem);
}

p {
  font-size: 1rem;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

nav a {
  font-size: clamp(1.25rem, calc(1vw + 0.5rem), 1.75rem);
}

ul {
  list-style: none;
}

html {
  font-size: 100%;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--color-body-bg);
  color: var(--color-text);
  min-height: 100vh;
  max-width: 100vw;
}

header {
  background-color: var(--color-element-bg);
  width: min(15rem, 100%);
  height: 100dvh;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 10;
  transition: right 250ms ease;
}

header.show {
  right: 0;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--space-2);
}

header button {
  background-color: transparent;
  border: 0rem;
  font-size: 2rem;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-direction: column;
  padding: 0px;
  font-weight: bold;
  justify-content: flex-start;
  align-items: stretch;
}

.nav-list .home {
  margin-right: unset;
}

.nav-list li {
  display: flex;
  align-items: center;
  padding: var(--space-2) var(--space-2);
  color: var(--color-text);
  transition: background-color 150ms ease 50ms;
}

.nav-list li.link:hover {
  background-color: var(--color-body-bg);
}

.hero {
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: var(--space-2);
  gap: var(--space-2);
  justify-content: center;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-2);
}

.social-proof-1 {
  display: flex;
  flex-direction: column;
}

.review-star {
  display: flex;
}

.review-star p {
  margin-right: var(--space-2);
}

.review-star svg {
  filter: brightness(var(--star-brightness));
}

button svg {
  filter: brightness(0);
}

.cta {
  background-color: var(--color-cta-bg);
  border-radius: var(--space-2);
  border: 0.15rem solid var(--color-cta-bg);
  padding: var(--space-1);
  align-self: flex-start;
  transition: box-shadow 150ms ease;
}

.cta:hover {
  box-shadow: 0 0.15em 0.5rem var(--color-box-shadow-hover);
}

.cta:active {
  box-shadow: 0 0rem 0.25rem var(--color-box-shadow-hover);
}

.hero img {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  object-fit: cover;
  clip-path: ellipse();
}

.menu h2 {
  text-align: center;
}

.skip-link {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: transparent;
  padding: var(--space-1) var(--space-2);
  border-radius: var(--space-1);
}

.skip-link:focus {
  opacity: 1;
  pointer-events: auto;
  outline: 3px solid var(--color-focus);
}

.open-sidebar-button {
  background-color: transparent;
  position: fixed;
  top: 10px;
  right: 10px;
  border: 0;
}

#overlay {
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

header.show ~ #overlay {
  display: block;
}

section.menu {
  display: flex;
  flex-direction: column;
  padding: var(--space-3);
  gap: var(--space-1);
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-2);
}

.menu-grid article {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  background-color: var(--color-element-bg);
  padding: var(--space-2);
  border-radius: var(--space-2);
  border: 0.15rem solid var(--color-border);
}

.menu-grid article span {
  font-weight: bold;
  font-size: 1.5rem;
}

.features {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  padding: var(--space-2);
}

.features article ol {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.social-proof-2 {
  display: flex;
  flex-direction: column;
}

.social-proof-2 .reviews {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.more-details {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

footer {
  background-color: var(--color-element-bg);
  padding: var(--space-2);
  padding-top: var(--space-4);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-1);
}

footer nav {
  display: flex;
  flex-direction: row;
  gap: var(--space-1);
}

@media (min-width: 769px) {
  main {
    padding: var(--space-5);
  }

  main .hero {
    max-width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: var(--space-2);
    gap: var(--space-2);
    align-items: center;
  }

  header {
    width: 100%;
    height: auto;
    right: 0;
  }

  .nav-list {
    flex-direction: row;
  }

  .nav-list .home {
    margin-right: auto;
  }

  .open-sidebar-button,
  .close-sidebar-li,
  .close-sidebar-button {
    display: none;
  }

  section.menu {
    gap: var(--space-3);
  }

  .menu-grid {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-4);
  }

  .menu-grid article {
    gap: var(--space-3);
  }
}

@media (min-width: 1025px) {
  .menu-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
  }
}
